body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .nav-section a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 20px;
  }


.success-message {
    display: flex;
    align-items: center;
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}

.tick-mark {
    font-size: 36px;
    margin-right: 15px;
}

.message {
    font-size: 18px;
}

.status-table {
    margin-top: 100px;
    margin-right: 250px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 200%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-right: 80px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #000;
    color: #fff;
}
